node_modules
.DS_Store

# cypress
cypress/videos*
cypress/screenshots*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

tmp
lerna-debug.log
.env

packages/create-bison-app/dist/

# symlinked files in the template directory for development
packages/create-bison-app/template/types
packages/create-bison-app/template/api.graphql
packages/create-bison-app/template/types.ts